scripts=["
    create service user cloudDemo-service-user with forced path /home/users/system/cq:services/cloud-demo
    set ACL for cloudDemo-service-user
    allow jcr:read on /
    allow jcr:read on /content
    allow jcr:versionManagement,jcr:modifyProperties,jcr:addChildNodes,jcr:read,jcr:nodeTypeManagement,crx:replicate,rep:write,jcr:lockManagement on /content/wknd
    allow jcr:versionManagement,jcr:modifyProperties,jcr:addChildNodes,jcr:read,jcr:nodeTypeManagement,crx:replicate,rep:write,jcr:lockManagement on /conf
    allow jcr:versionManagement,jcr:modifyProperties,jcr:addChildNodes,jcr:read,jcr:nodeTypeManagement,crx:replicate,rep:write,jcr:lockManagement on /etc
    allow jcr:read on /apps
    end
"]