scripts=["
    create service user cloudDemo-service-user with forced path system/cq:services/cloud-demo
    set principal ACL for cloudDemo-service-user
    allow jcr:versionManagement,jcr:read,crx:replicate,rep:write,jcr:lockManagement on /content/wknd
    allow jcr:versionManagement,jcr:read,crx:replicate,rep:write,jcr:lockManagement on /conf
    allow jcr:versionManagement,jcr:read,crx:replicate,rep:write,jcr:lockManagement on /etc
    allow jcr:versionManagement,jcr:read,crx:replicate,rep:write,jcr:lockManagement on /apps
    allow jcr:versionManagement,jcr:read,crx:replicate,rep:write,jcr:lockManagement on /var
    end
"]